.checkout{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 40px;
   
    margin-bottom: 40px;
    .checkout__left{
    grid-column: 1/span 7;
    border-top: 2px solid #0d0d0d;
    padding: 20px 0;
    h2{
        font-size: 24px;
    }
    form {
        .form-group{
            margin-bottom: 20px;
        }
        button{
            margin-top: 20px;
        }
    }
    }
    .checkout__right{
        grid-column: 8/span 5;
        border: 2px solid #0d0d0d;
        padding: 20px;
        h2{
            font-size: 24px;
            margin-bottom: 20px;
        }
        .checkout__right__list{
            .title{
                display: flex;
                justify-content: space-between;
                h2{
                    
                font-size: 18px;
                }
                border-bottom: 3px solid #c5c5c5;
            }
            .items{
                .item{
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #c5c5c5;
                    p:nth-child(1){
                        margin-bottom: 0;
                        padding: 10px 0;
                    span{
                        font-weight: bolder;
                    }
                    }
                    p:nth-child(2){
                        font-weight: bold;
                        margin-bottom: 0;
                        padding: 10px 0;
                    }
                }
            }
            .subtotal{
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #c5c5c5;
                p{
                    margin-bottom: 0;
                    padding: 10px 0;
                }
                p:nth-child(1){
                    font-weight: bolder;
                span{
                    font-weight: bolder;
                }
                }
                p:nth-child(2){
                    font-weight: bold;
                }
            }
            .shipping{
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #c5c5c5;
                p{
                    margin-bottom: 0;
                    padding: 10px 0;
                }
                p:nth-child(1){
                    font-weight: bolder;
                    span{
                        font-weight: bolder;
                    }
                    }
                    p:nth-child(2){
                        font-weight: bold;
                    }
                span{
                    padding: 10px 0;
                }
            }
            .total{
                display: flex;
                justify-content: space-between;
                border-bottom: 3px solid #c5c5c5;
                p{
                    margin-bottom: 0;
                    padding: 10px 0;
                }
                p:nth-child(1){
                    font-weight: bolder;
                    span{
                        font-weight: bolder;
                    }
                    }
                    p:nth-child(2){
                        font-weight: bold;
                    }
            }
        }
     .checkout__right__note{
         margin-top: 20px;
     }
        button{
            margin-top: 10px;
        }
    }
}