.navbars{
    .navbars__wrap{
        grid-column: 1/span 12;
        height: 85px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .navbar__left{
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                padding-left: 0;
                margin-bottom: 0;
                li{
                    position: relative;
                    a{
                        font-size: 22px;
                        color: #0d0d0d;
                        padding: 0 20px 0 20px;
                        cursor: pointer;
                        text-decoration: none;
                            &.active{
                            font-weight: bolder;
                        }
                        @media screen and (max-width: 568px){
                            font-size: 20px;
                            padding: 0 10px 0 10px;
                        }
                    }
                
                    &::before{
                        position: absolute;
                        content: "";
                        right: 0%;
                        top: 50%;
                        width: 1px;
                        height: 18px;
                        background-color: #0d0d0d;
                        transform: translate(-50%,-50%) rotate(25deg);
                    }
               
                }
              li:nth-child(1){
                a{
                    padding: 0 20px 0 0;
                }
              }
                li:nth-child(4){
                    &::before{
                        display: none;
                    }
                }
                
            }
        }
        .navbar__right{
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                margin-right: 10px;
                font-size: 18px;
                margin-bottom: 0;
                @media screen and (max-width: 568px){
                    margin-right: 5px;
                    font-size: 16px;
                }
            }
            select{
                padding: 5px;
                font-size: 18px;
                @media screen and (max-width: 568px){
               
                    font-size: 16px;
                }
            }
            @media screen and (max-width: 568px){
               
                display: block;
            }
        }
        }
}

.product{
    display: grid;
    grid-template-columns: repeat(12,1fr);
  
  
    .aside{
        grid-column: 1/span 3;
        .brown{
            h2{
                margin: 0 0 40px 0;
                position: relative;
                font-size: 22px;
                &::before{
                    position: absolute;
                    content: "";
                    width: 35px;
                    height: 4px;
                    background-color:  rgba(0, 0, 0, 0.1);
                    left: 0;
                    bottom: -100%;
                }
            }
            .brown__item{
                padding: 12px 16px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                a{
                    // position: relative;
                    color: #298caf !important;
                    text-decoration: none;
                    // display: block;
                    font-size: 20px; 
                    cursor: pointer;
                }
            }
            .brown__item-dropdown{
                box-shadow: none !important;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                margin: 0 !important;
                min-height: 48px !important;
                .brown__item-dropdown__content{
                    p{
                        color: #298caf !important;
                        font-size: 20px !important;
                        margin-bottom: 0;
                        @media screen and (max-width: 768px){
                            color: #fff;
                        }
                    }
                }
                .brown__item-dropdown__detail{
                    display: flex;
                    justify-content: space-evenly;
                    padding: 0 0 10px 0;
                    a{
                        cursor: pointer;
                        font-size: 18px;
                        color: #0d0d0d;
                     
                        &:hover{
                            font-weight: bold;
                        }
                        &.active{
                            font-weight: bold;
                        }
                        // @media screen and (max-width: 768px){
                        //     color: #fff;
                        // }
                    }
                }
                &::before{
                    content: none !important;
                }
            }
        }
        .filter{
            h2{
               margin: 40px 0;
                position: relative;
                font-size: 22px;
                &::before{
                    position: absolute;
                    content: "";
                    width: 35px;
                    height: 4px;
                    background-color:  rgba(0, 0, 0, 0.1);
                    left: 0;
                    bottom: -100%;
                }
            }
            ul{
                list-style: none;
                padding: 0;
                li{
                    line-height: 40px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    cursor: pointer;
                    a{
                        color: #298caf;
                        text-decoration: none;
                        display: block;
                        font-size: 20px;
                    }
                }
            }
        }
        @media screen and (max-width: 868px){
            grid-column: 1/span 4;
        }
        // @media screen and (max-width: 768px){
        //    position: sticky;
        //    left: 0;
        //    top: 0;
        //    height: 100%;
        //    width: 100%;
        //    z-index: 10;
        //    transition: all 0.5s;
        //    background-color:#fff;
        // }
    }
    .product-list{
        grid-column: 4/span 9;
        margin-bottom: 40px;
        min-height: 500px;
        .product__items{
            padding-left: 20px;
            display: grid;
            grid-template-columns: repeat(12,1fr);
            grid-gap: 20px;
            .item{
                display: block;
                position: relative;
                grid-column: span 4;
                cursor: pointer;
                transition: all 0.5s;
                text-decoration: none;
                .item__wrap-img{
                    position: relative;
                    transition: all 0.5s;
                    img{
                        height: 300px;
                        width: 100%;
                    }
                    a{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        text-align: center;
                        color: #fff;
                        background-color: #298caf;
                        line-height: 35px;
                        width: 100%;
                        cursor: pointer;
                        opacity: 0;
                        transition: all 0.5s;
                        text-decoration: none;
                        @media (min-width : 935px){
                            color:#fff;
        
           }
                    }
                  
                }
              
                h2{
                    font-size: 18px;
                    margin: 10px 0 5px 0;
                    color: #0d0d0d;
                }
                .item__name{
                        color: #298caf;
                    }
                .item__price{
                    color: #0d0d0d;
                        font-weight: bolder;
                        margin-top: 5px;
                    }
                .item__sale{
                    position: absolute;
                    top: 10%;
                    left: 0;
                    height: 45px;
                    width: 45px;
                    color: #fff;
                    font-size: 18px;
                    font-weight: bold;
                    border-radius: 50%;
                    background-color:#4ad8ff ;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 0;
                }
                .item__out-stock{
                    position: absolute;
                    text-align: center;
                    line-height: 65px;
                    width: 100%;
                    background-color: #fff;
                    opacity: 0.8;
                    top: 40%;
                    font-weight: bold;
                }
                
                &:hover {
                    box-shadow: -1px 2px 15px -4px rgba(0, 0, 0, 0.75);
                    .item__wrap-img{
                        a{
                            opacity: 1;
                        }
                    }
                  
                }
             @media screen and (max-width : 1068px){
                 grid-column: span 6;
                }
                @media screen and (max-width: 668px){
                    grid-column: span 12; 
                }
            }
        
        }
        @media screen and (max-width: 868px){
            grid-column: 5/span 8;
            }
            @media screen and (max-width: 768px){
                grid-column: 1/span 12;
                }
    }
    @media screen and (max-width: 768px){
        display: flex;

    }
}
// @media screen and (max-width: 767px){
  
//    .product{
//     .product-list{
//         .product__items{
//             .item{
//                 grid-column: span 6;
//             }
//         }
//     }
//     }
// }
// @media only screen and (max-width : 900px){

// }