.brown__item{
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    a{
        // position: relative;
        color: #298caf !important;
        text-decoration: none;
        // display: block;
        font-size: 20px; 
        cursor: pointer;
    }
}
.brown__item-dropdown{
    box-shadow: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 !important;
    min-height: 48px !important;
    .brown__item-dropdown__content{
        p{
            color: #298caf !important;
            font-size: 20px !important;
            margin-bottom: 0;
        }
    }
    .brown__item-dropdown__detail{
        display: flex;
        justify-content: space-evenly;
        padding: 0 0 10px 0;
        a{
            cursor: pointer;
            font-size: 18px;
            color: #0d0d0d;
         
            &:hover{
                font-weight: bold;
            }
            &.active{
                font-weight: bold;
            }
        }
    }
    &::before{
        content: none !important;
    }
}